html {
  color: #5C5C5C;
  font: normal 16px 'Terminal Dosis', "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

body {
  margin: 40px 30px 0 30px;
}

/*
  Settings
*/
.settings {
  position: absolute;
  top: -5px;
  left: 0;
  z-index: 100;
  min-width: 20px;
  min-height: 20px;
  padding: 10px;
  opacity: .8;
}
.settings h1 {
  position: absolute;
  top: 0;
  left: 10px;
  height: 20px;
  width: 20px;
  background: url(/images/gear.png) center center;
  background-size: contain;
  text-indent: -1234em;
  opacity: .1;
}
.settings:hover {
  padding-top: 35px;
  background: #dedede;
}
.settings:hover h1 {
  opacity: .3;
}
.settings:hover ol {
  display: block;
}
.settings ol {
  display: none;
  list-style-type: none;
  margin: 10px 5px;
  padding: 0;
}
.settings ol li {
  margin: 5px 0;
  padding: 0;
}

/*
  Powered by Giphy
*/
#powered-by-giphy {
  position: absolute;
  bottom: 12px;
  right: 5px;
  z-index: 100;
  width: 50px;
  height: 18px;
  padding: 2px;
  opacity: .5;
  background: rgba(255, 255, 255, .8);
}
#powered-by-giphy img {
  border: none;
  box-shadow: none;
  width: 100%;
  height: 100%;
}

/*
  Hide form used for browser cache
*/
form.browser-cache {
  position: absolute;
  top: -1234em; left: -1234em;
}