
html {
  background-color: rgba(171, 187, 195, 1); /*rgba(155,170,177,1)*/
}

a, a:link {
  color: #4c6096;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

h1 {
  font-weight: normal;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
  color: #ddd;
}

img {
  border: 1px solid #999;
  box-shadow: 4px 6px 10px 0px rgba(90, 90, 90, .5);
}

/*
  Main image styling
*/
.main {
  position: relative;
  min-width: 500px;
  margin: 0 auto 20px;
  padding: 0 65px 15px;
  background: -webkit-radial-gradient(50% 40%, ellipse closest-side, rgba(227,235,241,1), rgba(171, 187, 195, 1) 100%) no-repeat;
  /*background: -webkit-radial-gradient(center, ellipse cover, rgba(227,235,241,1) 0%,rgba(155,170,177,1) 100%);*/
}
.main.loading {
  visibility: hidden;
}
.main figure {
  text-align: center;
}
.main figure a.image {
  display: inline-block;
  padding: 3px;
  margin: 0 0 10px 0;
  min-width: 200px;
  outline: none;
  /*background: url(/images/loading_cat.gif) no-repeat center center;*/
}
.main figure img {
  min-width: 200px;
  background: rgba(100, 100, 100, .6);
}
.main figure figcaption {
  font-size: 30px;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.5);
}
.main figure cite {
  display: block;
  font-size: 13px;
  font-style: italic;
  color: #999;
  margin: 5px 0;
}
.main figure cite a {
  color: #999;
  padding: 0 3px;
}
.main figure cite a:after {
  content: ',';
}
.main figure cite a:last-child:after {
  content: '';
}

nav .arrow {
  position: absolute;
  width: 0;
  height: 0;
  opacity: .2;
  text-indent: -1234em;
}
nav .arrow.right {
  border-top: 60px solid transparent;
  border-bottom: 60px solid transparent;
  border-left: 60px solid rgba(109, 121, 126, 1);

  top: 25%;
  right: 0;
}
nav .arrow.left {
  border-top: 60px solid transparent;
  border-bottom: 60px solid transparent;
  border-right:60px solid rgba(109, 121, 126, 1);

  top: 25%;
  left: 0;
}
nav div:hover {
  opacity: .8;
  cursor: pointer;
}

/*
  History
*/
.history {
  margin: 0 -30px;
  padding: 15px 0;
  background: #547787; /*4C616B*/ /*#3B4B54*/
  border-top: 1px solid #2A363C;
}
.history.empty {
  display: none;
}
.history h1 {
  width: 700px;
  margin: 0 auto;
}
.history ul {
  width: 700px;
  margin: 15px auto 0;
  list-style-type: none;
}
.history ul li {
  display: inline-block;
  padding: 0;
  margin: 5px;
  vertical-align: middle;
  text-align: center;
  width: 120px;
  overflow: hidden;
  border: 1px solid #999;
  box-shadow: 4px 6px 10px 0px rgba(90, 90, 90, .5);
  box-sizing: content-box;
  transition: transform .08s;
}
.history ul li img {
  height: 120px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border: none;
  transition: opacity .1s;
}
.history ul li:hover {
  transform:  translateY(-10px);
}
.history ul li.selected,
.history ul li:hover.selected {
  transform:  translateY(-10px);
}


/**
  Fix history to bottom of page
  if the content is not overflowing
*/
body.fits-view .history {
  position: fixed;
  left: 0; right: 0;
  bottom: 0;
}