
html {
  background: #fff url(/images/sunburst_gray.png) no-repeat;
  background-position: center center;
  width: 100%;
}

body {
  height: 100vh;
  margin: 0 10px;
}

a, a:link {
  color: #4c6096;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

h1 {
  font-weight: normal;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 1);
  color: #fff;
}

img {
  border: 1px solid #999;
  box-shadow: 4px 6px 10px 0px rgba(90, 90, 90, .5);
}

/*
  Main image styling
*/
.main {
  position: relative;
  min-width: 500px;
  height: 100%;
  margin: 0 auto;
  padding: 0 65px;
  text-align: center;
}
.main:before { /* to center image (http://css-tricks.com/centering-in-the-unknown/) */
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em; /* Adjusts for spacing */
}
.main figure {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
}
.main figure a.image {
  display: inline-block;
  padding: 3px;
  margin: 0 0 10px 0;
  min-width: 200px;
  outline: none;
}
.main figure img {
  min-width: 200px;
  background: rgba(100, 100, 100, .6);
}
.main figure figcaption {
  font-size: 30px;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.5);
}
.main figure cite {
  display: block;
  font-size: 13px;
  font-style: italic;
  color: #999;
  margin: 5px 0;
}
.main figure cite a {
  color: #999;
  padding: 0 3px;
}
.main figure cite a:after {
  content: ',';
}
.main figure cite a:last-child:after {
  content: '';
}

nav .arrow {
  position: absolute;
  top: calc(50% - 120px);
  width: 0;
  height: 0;
  opacity: .2;
  text-indent: -1234em;
  border-top: 60px solid transparent;
  border-bottom: 60px solid transparent;
  transition: opacity .3s;
}
nav .arrow.right {
  right: 0;
  border-left: 60px solid rgba(218, 218, 218, 1);
}
nav .arrow.left {
  left: 0;
  border-right: 60px solid rgba(218, 218, 218, 1);
}
nav div:hover {
  opacity: .8;
  cursor: pointer;
}

/*
  General image list styling
*/
.list-wrapper {
  ul {
    list-style-type: none;

    li {
      display: inline-block;
      margin: 35px 5px 25px;
      vertical-align: middle;
      text-align: center;
      width: 120px;
      overflow: hidden;
      border: 1px solid #999;
      box-shadow: 4px 6px 10px 0px rgba(90, 90, 90, .5);
      box-sizing: content-box;

      img {
        height: 120px;
        text-align: center;
        vertical-align: middle;
        cursor: pointer;
        border: none;
        background: rgba(100, 100, 100, .6);
        transition: opacity .1s;
      }

      img.loading {
        opacity: 0;
      }
      img.loaded {
        opacity: .4;
      }

      &:hover img {
        opacity: 1;
      }
      &.selected img,
      &:hover.selected img {
        opacity: 1;
      }
    }
  }
}

/*
  History
*/
.history {
  margin: 0 -30px;
  background: #D9DCE8;
  border-top: 1px solid #B6B1B1;
  opacity: .9;

  position: fixed;
  left: 0; right: 0;
  bottom: 0;

  &.empty {
    display: none;
  }

  .list-wrapper {
    margin: 0 auto;
    width: 700px;
    max-height: 0;
    overflow: hidden;
    transition: max-height .8s;
  }
  .list-wrapper:before {
    content: 'Recent Gifs';

    position: relative;
    top: 10px;

    font-weight: bold;
    text-shadow: 0 1px 2px #fff;
    font-size: 15px;
    opacity: 0;
    transition: opacity, .5s;
  }
  &:hover .list-wrapper {
    max-height: 220px;
  }
  &:hover .list-wrapper:before {
    opacity: 1;
    transition: none;
  }

  h1 {
    width: 700px;
    margin: 0 auto;
    position: absolute;
    top: -21px;
    left: calc(50% - (70px / 2));
    height: 20px;
    width: 70px;
    background: #D9DCE8;
    border: solid #B6B1B1;
    border-width: 1px 1px 0 1px;
    border-radius: 5px 5px 0 0;

    text-indent: -1234em;
  }
  h1:before {
    content: '';
    background: url(/images/hamburger-menu.png) no-repeat center center;
    background-size: 30px 15px;
    position: absolute;
    top: 0; left: 0;
    bottom: 0; right: 0;
    opacity: .25;
  }
  ul {
    position: relative;
    width: 700px;
    overflow: hidden;
    margin: 10px auto;
    transition: transform .5s;

    li {
      transition: transform .08s;
    }
  }

  // History width for number of items
  @for $i from 0 through 20 {
    &.num-#{$i} .list-wrapper ul {
      width: #{$i * 132}px;
    }
  }

  // Move list to selection
  @for $i from 3 through 20 {
    &.selected-#{$i} .list-wrapper ul {
      transform: translateX(calc(-#{$i * 139.6}px + 265px));
    }
  }
}


/*
  Favorites
*/
.favorites {
  position: fixed;
  top: 0; bottom: 0;
  right: 0;
  width: 0;
  height: 100%;
  transition: width 1s, border-color .3s;
  background-color: rgba(217, 220, 232, .5);
  border-left: 1px solid rgba(100, 100, 100, 0);

  h1 {
    position: absolute;
    top: 0;
    left: -50px;
    z-index: 2;
    height: 50px;
    width: 48px;
    margin: 0;

    background-color: rgba(217, 220, 232, 0);
    border: solid rgba(100, 100, 100, 0);
    border-width: 0 1px 1px 1px;
    transition: background-color .5s, border-color .5s, opacity .5s;

    text-indent: -1234em;
    background: url(/images/favorite-star-gray.png) no-repeat center center;
    background-size: 30px 30px;
    opacity: .1;
    cursor: pointer;
  }
  .list-wrapper {
    width: 0;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    transition: width 1s;
  }
  .list-wrapper:before {
    content: 'Favorites';
    font-size: 18px;
    display: block;
    margin: 15px 0 0 10px;
    text-shadow: 0 1px 2px #fff;
  }
  ul {
    width: 290px;
    opacity: 0;
    margin-top: 10px;
    transition: opacity 1s;

    li {
      width: 80px;
      margin: 7px;

      img {
        height: 80px;
      }

      img.loaded {
        opacity: .5;
      }
      &:hover img {
        opacity: 1;
      }
    }
  }

  &:hover {
    width: 350px;
    border-left: 1px solid rgba(100, 100, 100, 1);

    h1 {
      opacity: 1;
      background-color: rgba(217, 220, 232, .5);
      border-color: rgba(100, 100, 100, 1);
      border-right-color: rgba(217, 220, 232, 1);
      border-radius: 0 0 0 5px;
    }
    .list-wrapper {
      width: 330px;
    }
    ul {
      opacity: 1;
    }
  }
}