
html {
  background: #fff url(/images/sunburst_pink.png) no-repeat;
  background-position: center center;
  width: 100%;
}

body {
  height: 100vh;
  margin: 0 10px;
}

a, a:link {
  color: #4c6096;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

h1 {
  font-weight: normal;
  text-shadow: 0 1px 1px rgba(158, 89, 141, 0.5);
  color: #9E598D;
}

img {
  border: 1px solid #999;
  box-shadow: 4px 6px 10px 0px rgba(90, 90, 90, .5);
}

/*
  Main image styling
*/
.main {
  position: relative;
  min-width: 500px;
  height: 100%;
  margin: 0 auto;
  padding: 0 65px;
  text-align: center;
}
.main:before { /* to center image (http://css-tricks.com/centering-in-the-unknown/) */
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em; /* Adjusts for spacing */
}
.main figure {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
}
.main figure a.image {
  display: inline-block;
  padding: 3px;
  margin: 0 0 10px 0;
  min-width: 200px;
  outline: none;
}
.main figure img {
  min-width: 200px;
  background: rgba(100, 100, 100, .6);
}
.main figure figcaption {
  font-size: 30px;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.5);
}
.main figure cite {
  display: block;
  font-size: 13px;
  font-style: italic;
  color: #999;
  margin: 5px 0;
}
.main figure cite a {
  color: #999;
  padding: 0 3px;
}
.main figure cite a:after {
  content: ',';
}
.main figure cite a:last-child:after {
  content: '';
}
nav {
  position: absolute;
  top: 0; bottom: 0;
  left: 0; right: 0;
}
nav .arrow {
  position: absolute;
  top: calc(50% - 120px);
  width: 0;
  height: 0;
  opacity: .2;
  text-indent: -1234em;
  border-top: 60px solid transparent;
  border-bottom: 60px solid transparent;
  transition: opacity .3s;
}
nav .arrow.right {
  right: 0;
  border-left: 60px solid #d6b5ce;
}
nav .arrow.left {
  left: 0;
  border-right: 60px solid #d6b5ce;
}
nav div:hover {
  opacity: .8;
  cursor: pointer;
}

/*
  History
*/
.history {
  margin: 0 -30px;
  background: #ECDCE8;
  border-top: 1px solid #C28DB1;
  opacity: .9;

  position: fixed;
  left: 0; right: 0;
  bottom: 0;
}
.history.empty {
  display: none;
}
.history h1 {
  width: 700px;
  margin: 0 auto;
  position: absolute;
  top: -21px;
  left: calc(50% - (70px / 2));
  height: 20px;
  width: 70px;
  background: #ECDCE8;
  border: solid #C28DB1;
  border-width: 1px 1px 0 1px;
  border-radius: 5px 5px 0 0;

  text-indent: -1234em;
}
.history h1:before {
  content: '';
  background: url(/images/hamburger-menu-purple.png) no-repeat center center;
  background-size: 30px 15px;
  position: absolute;
  top: 0; left: 0;
  bottom: 0; right: 0;
  opacity: .6;
}
.history ul {
  position: relative;
  width: 700px;
  max-height: 0;
  overflow: hidden;
  margin: 10px auto 0;
  list-style-type: none;
  transition: max-height .8s;
}
.history ul:before {
  content: 'Recent Gifs';

  position: absolute;
  top: -3px;
  left: 0;

  font-weight: bold;
  text-shadow: 0 1px 2px #fff;
  font-size: 15px;
  opacity: 0;
  transition: opacity, .5s;
}
.history:hover ul:before {
  opacity: 1;
  transition: none;
}
.history:hover ul {
  max-height: 200px;
}
.history ul li {
  display: inline-block;
  margin: 35px 5px 25px;
  vertical-align: middle;
  text-align: center;
  width: 120px;
  overflow: hidden;
  border: 1px solid #999;
  box-shadow: 4px 6px 10px 0px rgba(90, 90, 90, .5);
  box-sizing: content-box;
  transition: transform .08s;
}
.history ul li img {
  height: 120px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border: none;
  background: rgba(100, 100, 100, .6);
  transition: opacity .1s;
}
.history ul li img.loading {
  opacity: 0;
}
.history ul li img.loaded {
  opacity: 1;
}
.history ul li:hover {
  transform: translateY(-10px);
}
.history ul li.selected,
.history ul li:hover.selected {
  transform:  translateY(-12px);
}
