.history {
  margin: 0 -30px;
  padding: 15px 0;
  background: $history-bg;
  border-top: 1px solid $history-border;

  .list-wrapper {
    margin: 0 auto;
    width: 700px;
    overflow: hidden;
  }

  &.empty {
    display: none;
  }
  h1 {
    width: 700px;
    margin: 0 auto;
  }
  ul {
    min-height: 150px;
    width: 700px;
    margin: 15px auto 0;
    transition: transform .5s;
  }

  // History width for number of items
  @for $i from 0 through 20 {
    &.num-#{$i} .list-wrapper ul {
      width: #{$i * 132}px;
    }
  }

  // Move list to selection
  @for $i from 3 through 20 {
    &.selected-#{$i} .list-wrapper ul {
      transform: translateX(calc(-#{$i * 139.6}px + 265px));
    }
  }

}